.btn{
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}

.btn_first{
    background-color: crimson;
}
.btn_second{
    background-color: deepskyblue;
}

